*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', serif; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@keyframes sliderTitle {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes sliderInfo {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes sliderButton {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes slideInDown {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInUp {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@font-face {
  font-family: 'TTSmalls';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTSmallsRegular.eot");
  src: url("../fonts/TTSmallsRegular.woff2") format("woff2"), url("../fonts/TTSmallsRegular.woff") format("woff"), url("../fonts/TTSmallsRegular.ttf") format("truetype"), url("../fonts/TTSmallsRegular.svg#TTSmallsRegular") format("svg"); }

@font-face {
  font-family: 'TTSmalls';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/TTSmallsMedium.eot");
  src: url("../fonts/TTSmallsMedium.woff2") format("woff2"), url("../fonts/TTSmallsMedium.woff") format("woff"), url("../fonts/TTSmallsMedium.ttf") format("truetype"), url("../fonts/TTSmallsMedium.svg#TTSmallsMedium") format("svg"); }

.btn {
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid #ffd700; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.2);
    outline: none; }
  .btn:focus {
    outline: none; }

@media (min-width: 600px) {
  .btn {
    font-size: 1.6rem; } }

@media (min-width: 1500px) {
  .btn {
    font-size: 2rem; } }

.call-us {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 3000;
  width: 6rem;
  height: 6rem;
  background: url("../img/call.svg") no-repeat, crimson;
  background-size: 50%;
  border-radius: 50%;
  border: none;
  background-position: center;
  animation: dance 0.2s linear infinite;
  animation-play-state: running;
  outline: none; }

.up {
  display: block;
  position: absolute;
  bottom: 12rem;
  right: 1rem;
  z-index: 3000;
  width: 6rem;
  height: 6rem;
  background: url("../img/up.svg") no-repeat, #fff;
  background-size: 50%;
  border-radius: 50%;
  border: none;
  background-position: center;
  outline: none; }

@keyframes dance {
  0% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(20deg); } }

.pause {
  animation-play-state: paused; }

.page-header {
  overflow: hidden;
  height: 100vh; }

.user-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  z-index: 3;
  font-family: "TTSmalls", "sans-serif"; }
  .user-nav__toggle {
    display: flex;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 3;
    border: none;
    background: transparent; }
    .user-nav__toggle:focus {
      outline: none; }
  .user-nav__burger, .user-nav__burger::before, .user-nav__burger::after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #ffd700;
    transition: all 0.2s; }
  .user-nav__burger::before, .user-nav__burger::after {
    position: absolute;
    content: '';
    left: 0; }
  .user-nav__burger::before {
    top: 2px; }
  .user-nav__burger::after {
    bottom: 3px; }
  .user-nav__logo {
    z-index: 3;
    font-size: 2rem;
    color: #ffd700;
    border: 2px solid #fff;
    padding: 0.5rem; }
    .user-nav__logo:hover {
      opacity: 0.6; }
    .user-nav__logo:active {
      opacity: 0.3; }
  .user-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
  .user-nav__list {
    list-style: none; }
  .user-nav__item {
    padding: 2rem;
    text-align: center;
    background: #222222; }
    .user-nav__item:first-child {
      padding: 4rem 2rem; }
    .user-nav__item--phone {
      display: flex;
      align-items: center;
      position: relative;
      background: #555;
      border-bottom: none; }
  .user-nav__time {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.4rem; }
  .user-nav__link {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none; }
    .user-nav__link--phone {
      padding-left: 2.1rem;
      font-size: 1.4rem;
      background: url("../img/phone.svg") no-repeat left center;
      background-size: 11%; }
    .user-nav__link:hover {
      opacity: 0.6; }
    .user-nav__link:active {
      opacity: 0.3; }

.user-nav--opened .user-nav__burger {
  background: transparent; }
  .user-nav--opened .user-nav__burger::before {
    top: 1.1rem;
    transform: rotate(-135deg); }
  .user-nav--opened .user-nav__burger::after {
    bottom: 1.2rem;
    transform: rotate(135deg); }

@media (max-width: 769px) {
  .user-nav--closed .user-nav__wrapper {
    animation: slideInUp 0.5s ease forwards; }
  .user-nav--opened .user-nav__wrapper {
    animation: slideInDown 0.5s ease forwards; }
  .user-nav--nojs .user-nav__toggle {
    display: none; }
  .user-nav--nojs .user-nav__wrapper {
    display: block; } }

@media (min-width: 770px) {
  .user-nav {
    padding: 2rem 2rem 0 2rem;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .user-nav__logo {
      flex-shrink: 0; }
    .user-nav__wrapper {
      padding-left: 3rem;
      position: relative; }
    .user-nav__list {
      display: flex; }
    .user-nav__item {
      background: transparent;
      border: none; }
      .user-nav__item:first-child {
        display: none; }
      .user-nav__item--phone {
        justify-content: flex-end;
        flex-grow: 1;
        padding-right: 0;
        order: 5; }
    .user-nav__link {
      font-size: 1.8rem;
      font-weight: 400; }
      .user-nav__link--phone {
        font-size: 1.6rem; }
    .user-nav__toggle {
      display: none; }
    .user-nav__time {
      display: none; } }

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: none;
  color: #fff;
  padding: 2rem;
  background: #ffd700;
  z-index: 200000;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }
  .form__title {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    color: #000000;
    text-align: left; }
    .form__title::before {
      background: transparent !important; }
  .form__close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 1.5rem;
    top: 1.5rem;
    background: transparent;
    border: none;
    z-index: 2; }
    .form__close::before, .form__close::after {
      position: absolute;
      content: '';
      width: 50%;
      height: 2px;
      right: 25%;
      top: 50%;
      background: #000000; }
    .form__close::before {
      transform: rotate(45deg); }
    .form__close::after {
      transform: rotate(-45deg); }
  .form__form {
    margin-top: 3rem; }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__label {
    display: block;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    transition: all 0.3s;
    color: #000000; }
  .form__input {
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #55c57a;
    transition: all 0.2s;
    background: #fff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    .form__input:placeholder-shown ~ .form__input__label {
      transform: translateY(-2.5rem);
      opacity: 0;
      visibility: hidden; }
    .form__input:placeholder-shown {
      border-bottom: 2px solid transparent; }
    .form__input:invalid {
      border-bottom: 2px solid #ff7730; }
    .form__input:focus {
      outline: 0;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1); }
  .form__input:placeholder-shown ~ .form__label {
    transform: translateY(-2.5rem);
    opacity: 0;
    visibility: hidden; }
  .form__btn {
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;
    background: crimson;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border: none; }

.problems {
  padding: 5rem 2rem;
  background: linear-gradient(to right bottom, #ffd700, #ffb300);
  -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%);
  clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%); }
  .problems__vent {
    padding-top: 3rem;
    background: #fff; }
    .problems__vent .problems__title::before {
      background: #ffd700 !important; }
    .problems__vent .problems__title .title__num {
      color: #ffd700; }
  .problems__title {
    margin-top: 4rem;
    margin-bottom: 6rem !important; }
    .problems__title::before {
      background: #fff !important; }
    .problems__title span {
      color: #fff; }
  .problems__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; }
  .problems__item {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 7px 7px 10px rgba(25, 24, 28, 0.2);
    text-align: center; }
    .problems__item--1 {
      background: url("../img/drops.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--2 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--3 {
      background: url("../img/battery.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--4 {
      background: url("../img/dynamic.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--5 {
      background: url("../img/smell.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--6 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--7 {
      background: url("../img/leak.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--8 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
  .problems__caption {
    display: inline-block;
    margin-top: 11rem;
    font-size: 2rem; }
  .problems__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 95%;
    height: 35rem;
    padding: 2rem;
    overflow: auto;
    font-size: 1.5rem;
    background: #f1f1f1;
    border: 2px solid lightskyblue; }
  .problems__text {
    font-size: 2rem; }
  .problems__close {
    position: absolute;
    right: 2.4rem;
    top: 1rem;
    border: none; }
    .problems__close:active::before, .problems__close:active::after {
      width: 1.3rem;
      left: 0;
      top: 0; }
    .problems__close::before {
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 2px;
      transform: rotate(45deg);
      background: #000; }
    .problems__close::after {
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 2px;
      transform: rotate(-45deg);
      background: #000; }

.problem {
  margin: 0 auto 2rem auto;
  max-width: 70rem;
  border: 1px solid #eee;
  border-radius: 2.5rem;
  box-shadow: 0 0 1.6rem 0 rgba(0, 36, 78, 0.25);
  background: #fff; }
  .problem__header {
    padding: 1rem 1rem 1rem 5rem;
    position: relative;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif; }
    .problem__header--drops {
      background: url("../img/drops.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--snow {
      background: url("../img/snow.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--off {
      background: url("../img/off.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--engine {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--chip {
      background: url("../img/chip.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--battery {
      background: url("../img/battery.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--dynamic {
      background: url("../img/dynamic.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--smell {
      background: url("../img/smell.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--leak {
      background: url("../img/leak.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2rem;
      width: 7px;
      height: 7px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #000000;
      transform-origin: center;
      transform: translateY(-50%) rotate(135deg);
      transition: transform .3s ease; }
      .problem.is-active .problem__header::after {
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 2px; }
  .problem__button {
    padding: 0 10px;
    cursor: pointer; }
  .problem__body {
    padding: 10px;
    border-top: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;
    font-size: 1.5rem;
    font-family: 'Roboto';
    line-height: 1.6; }
    .problem.is-active .problem__body {
      display: block; }

.slider {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-top: -8.3rem; }
  .slider__controls {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 6rem;
    z-index: 2; }
  .slider__control {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    border: 2px solid #ffd700;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s; }
    .slider__control:hover {
      transform: scale(1.1); }
    .slider__control:focus {
      outline: none; }
    .slider__control--active {
      background: #ffd700; }
  .slider__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 32rem;
    height: 100vh;
    padding: 10rem 2rem 10rem 2rem; }
  .slider__slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); }
    .slider__slide--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/conditioner-repair.jpg"); }
    .slider__slide--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-mobile.jpg"); }
    .slider__slide--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-mobile.jpg"); }
  .slider__title {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
    animation: sliderTitle 1s ease; }
  .slider__info {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    animation: sliderInfo 1s ease; }
  .slider__btn {
    text-decoration: none;
    animation: sliderButton 1s ease-in-out;
    background: transparent; }

@media (min-width: 770px) {
  .slider__wrapper {
    padding-top: 12rem; }
  .slider__title {
    font-size: 2.5rem; }
  .slider__info {
    width: 70%;
    font-size: 2rem; }
  .slider__slide--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-tablet.jpg"); }
  .slider__slide--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-tablet.jpg"); } }

@media (min-width: 1200px) {
  .slider__wrapper {
    max-width: 120rem; }
  .slider__title {
    font-size: 3rem; }
  .slider__info {
    width: 70%;
    font-size: 2.5rem; }
  .slider__slide {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden; }
    .slider__slide--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/conditioner-desktop.jpg"); }
    .slider__slide--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-desktop.jpg"); }
    .slider__slide--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-desktop.jpg"); } }

@media (min-width: 1500px) {
  .slider__title {
    font-size: 5rem; }
  .slider__info {
    width: 70%;
    font-size: 3rem; } }

.companies {
  padding: 10rem 2rem; }
  .companies__title {
    position: relative;
    margin-bottom: 6rem !important;
    font-size: 1.6rem; }
  .companies__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .companies__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13rem; }

@media (min-width: 1200px) {
  .companies {
    padding-top: 5rem;
    max-width: 120rem;
    margin: 0 auto; }
    .companies__title {
      margin-bottom: 5rem; }
    .companies__item {
      margin-right: 2rem;
      opacity: 0.3; }
      .companies__item:hover {
        opacity: 1; } }

.steps {
  padding: 5rem 2rem;
  max-width: 120rem;
  margin: 0 auto; }
  .steps__wrapper {
    margin-top: 8rem;
    text-align: center; }
  .steps__title::before {
    background: #008080; }
  .steps__step {
    padding: 6rem 2rem 0 2rem; }
    .steps__step:not(:last-child) {
      padding-bottom: 6rem;
      margin-bottom: 3rem; }
    .steps__step--1 {
      background: url("../img/step-1.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--2 {
      background: url("../img/step-2.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--3 {
      background: url("../img/step-3.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--4 {
      background: url("../img/step-4.svg") no-repeat top center;
      background-size: 5rem; }
  .steps__text {
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600; }

.title {
  display: inline-block;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem; }
  .title::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffd700; }
  .title__num {
    position: absolute;
    color: rgba(255, 215, 0, 0.8);
    top: -3.5rem;
    right: 1.5rem;
    font-size: 9rem;
    z-index: -1; }

@media (min-width: 600px) {
  .title {
    font-size: 2.5rem; } }

@media (min-width: 1200px) {
  .title {
    margin-bottom: 6rem;
    font-size: 3rem; } }

.conditioner {
  color: #000000;
  padding: 2rem;
  -webkit-clip-path: polygon(0 2.5%, 100% 0%, 100% 98%, 0% 100%);
  clip-path: polygon(0 2.5%, 100% 0%, 100% 98%, 0% 100%); }
  .conditioner__title {
    margin-top: 4rem;
    margin-bottom: 6rem; }
    .conditioner__title::before {
      background: #ffd700; }
    .conditioner__title span {
      color: #ffd700; }
  @media (min-width: 768px) {
    .conditioner__wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .conditioner__wrapper {
      flex-wrap: nowrap; } }
  .conditioner__service {
    display: flex;
    flex-direction: column; }
    .conditioner__service:not(:last-child) {
      margin-bottom: 5rem; }
    @media (min-width: 768px) {
      .conditioner__service:not(:last-child) {
        width: 50%;
        margin-bottom: 10rem; } }
    @media (min-width: 1200px) {
      .conditioner__service:last-child {
        width: 50%; } }
  .conditioner__list {
    display: inline-block;
    margin: 0 auto;
    list-style: none; }
  .conditioner__item {
    position: relative;
    padding: 0 0 0 2rem;
    font-size: 1.4rem; }
    .conditioner__item:not(:last-child) {
      margin-bottom: 1rem; }
    .conditioner__item::before {
      position: absolute;
      content: '';
      width: 1rem;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: crimson; }
  .conditioner__image {
    width: 100%;
    height: 10rem;
    position: relative; }
  .conditioner__img {
    width: 100%;
    height: 100%; }
  .conditioner__subtitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }

.footer {
  position: relative;
  width: 100%;
  padding: 2rem;
  background: #2d2d44; }
  .footer__title {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.4rem; }
  .footer__col {
    margin-bottom: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__link {
    display: block;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; }
    .footer__link--phone {
      padding-left: 2rem;
      background: url("../img/phone.svg") no-repeat left center;
      background-size: 1.5rem; }
    .footer__link--email {
      padding-left: 2rem;
      background: url("../img/email.svg") no-repeat left center;
      background-size: 1.5rem; }
  .footer__copyright {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 22222; }
  .overlay::after {
    position: absolute;
    content: '';
    width: 4rem;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffd700;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 223;
    animation: spin 0.4s infinite linear; }
  .overlay--modal {
    background: rgba(0, 0, 0, 0.3); }
    .overlay--modal::after {
      display: none; }

@media (min-width: 600px) {
  .overlay::after {
    width: 8rem;
    height: 8rem; } }
