*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', serif; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@keyframes sliderTitle {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes sliderInfo {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes sliderButton {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes slideInDown {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInUp {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

.page-header {
  overflow: hidden;
  height: 53rem; }

.user-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  z-index: 3;
  font-family: 'PT Sans', 'serif'; }
  .user-nav__toggle {
    display: flex;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 3;
    border: none;
    background: transparent; }
    .user-nav__toggle:focus {
      outline: none; }
  .user-nav__burger, .user-nav__burger::before, .user-nav__burger::after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #ffd700;
    transition: all 0.2s; }
  .user-nav__burger::before, .user-nav__burger::after {
    position: absolute;
    content: '';
    left: 0; }
  .user-nav__burger::before {
    top: 2px; }
  .user-nav__burger::after {
    bottom: 3px; }
  .user-nav__logo {
    z-index: 3;
    font-size: 2rem;
    color: #ffd700;
    border: 2px solid #f1f1f1;
    padding: 0.5rem; }
    .user-nav__logo:hover {
      opacity: 0.6; }
    .user-nav__logo:active {
      opacity: 0.3; }
  .user-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
  .user-nav__list {
    list-style: none; }
  .user-nav__item {
    padding: 2rem;
    text-align: left;
    background: #222222;
    border-bottom: 1px solid #777; }
    .user-nav__item:first-child {
      padding: 4rem 2rem; }
    .user-nav__item--phone {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      background: #555;
      border-bottom: none; }
  .user-nav__time {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #f1f1f1;
    font-size: 1.4rem; }
  .user-nav__link {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f1f1f1;
    text-decoration: none; }
    .user-nav__link--phone {
      padding-left: 2.5rem;
      background: url("../img/phone.svg") no-repeat left center;
      background-size: 15%; }
      .user-nav__link--phone:first-child {
        margin-bottom: 1rem; }
    .user-nav__link:hover {
      opacity: 0.6; }
    .user-nav__link:active {
      opacity: 0.3; }

.user-nav--opened .user-nav__burger {
  background: transparent; }
  .user-nav--opened .user-nav__burger::before {
    top: 1.1rem;
    transform: rotate(-135deg); }
  .user-nav--opened .user-nav__burger::after {
    bottom: 1.2rem;
    transform: rotate(135deg); }

@media (max-width: 768px) {
  .user-nav--closed .user-nav__wrapper {
    animation: slideInUp 0.5s ease forwards; }
  .user-nav--opened .user-nav__wrapper {
    animation: slideInDown 0.5s ease forwards; }
  .user-nav--nojs .user-nav__toggle {
    display: none; }
  .user-nav--nojs .user-nav__wrapper {
    display: block; } }

.form {
  color: #f1f1f1;
  padding: 5rem 2rem 3rem 2rem;
  background: #008080;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); }
  .form__title::before {
    background: lightskyblue; }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__label {
    display: block;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    font-size: 1.3rem;
    transition: all 0.3s; }
  .form__input {
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #55c57a;
    border-radius: 2px;
    transition: all 0.2s;
    background: #f1f1f1; }
    .form__input:placeholder-shown ~ .form__input__label {
      transform: translateY(-2.5rem);
      opacity: 0;
      visibility: hidden; }
    .form__input:placeholder-shown {
      border-bottom: 2px solid transparent; }
    .form__input:invalid {
      border-bottom: 2px solid #ff7730; }
    .form__input:focus {
      outline: 0;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1); }
  .form__input:placeholder-shown ~ .form__label {
    transform: translateY(-2.5rem);
    opacity: 0;
    visibility: hidden; }
  .form__btn {
    border: none; }

.problems {
  padding: 3rem 2rem;
  background: #ffd700;
  -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%);
  clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%); }
  .problems__title::before {
    background: #008080; }
  .problems__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; }
  .problems__item {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 7px 7px 10px rgba(25, 24, 28, 0.2);
    text-align: center; }
    .problems__item--1 {
      background: url("../img/drops.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--2 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--3 {
      background: url("../img/battery.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--4 {
      background: url("../img/dynamic.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--5 {
      background: url("../img/smell.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--6 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--7 {
      background: url("../img/leak.svg") no-repeat center 5rem;
      background-size: 5rem; }
    .problems__item--8 {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 5rem; }
  .problems__caption {
    display: inline-block;
    margin-top: 11rem;
    font-size: 2rem; }
  .problems__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 95%;
    height: 35rem;
    padding: 2rem;
    overflow: auto;
    font-size: 1.5rem;
    background: #f1f1f1;
    border: 2px solid lightskyblue; }
  .problems__text {
    font-size: 2rem; }
  .problems__close {
    position: absolute;
    right: 2.4rem;
    top: 1rem;
    border: none; }
    .problems__close:active::before, .problems__close:active::after {
      width: 1.3rem;
      left: 0;
      top: 0; }
    .problems__close::before {
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 2px;
      transform: rotate(45deg);
      background: #000; }
    .problems__close::after {
      position: absolute;
      content: '';
      width: 1.5rem;
      height: 2px;
      transform: rotate(-45deg);
      background: #000; }

.problem {
  margin-bottom: 2rem;
  border: 1px solid #eee;
  border-radius: 2.5rem;
  box-shadow: 0 0 1.6rem 0 rgba(0, 36, 78, 0.25); }
  .problem__header {
    padding: 1rem 1rem 1rem 5rem;
    position: relative;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold; }
    .problem__header--drops {
      background: url("../img/drops.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--snow {
      background: url("../img/snow.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--engine {
      background: url("../img/engine.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--battery {
      background: url("../img/battery.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--dynamic {
      background: url("../img/dynamic.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--smell {
      background: url("../img/smell.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header--leak {
      background: url("../img/leak.svg") no-repeat center 5rem;
      background-size: 2.5rem;
      background-position: 1rem center; }
    .problem__header::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2rem;
      width: 7px;
      height: 7px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #000000;
      transform-origin: center;
      transform: translateY(-50%) rotate(135deg);
      transition: transform .3s ease; }
      .problem.is-active .problem__header::after {
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 2px; }
  .problem__button {
    padding: 0 10px;
    cursor: pointer; }
  .problem__body {
    padding: 10px;
    border-top: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;
    font-size: 1.5rem;
    font-family: 'Roboto'; }
    .problem.is-active .problem__body {
      display: block; }

.slider {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #f1f1f1;
  margin-top: -8rem; }
  .slider__controls {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 4rem;
    z-index: 2; }
  .slider__control {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    border: 2px solid #ffd700;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s; }
    .slider__control:hover {
      transform: scale(1.1); }
    .slider__control:focus {
      outline: none; }
    .slider__control--active {
      background: #ffd700; }
  .slider__wrapper {
    height: 47.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 32rem;
    padding: 10rem 2rem 10rem 2rem; }
  .slider__slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%); }
    .slider__slide--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/conditioner-repair.jpg"); }
    .slider__slide--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-mobile.jpg"); }
    .slider__slide--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-mobile.jpg"); }
  .slider__title {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
    animation: sliderTitle 1s ease; }
  .slider__info {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    animation: sliderInfo 1s ease; }
  .slider__btn {
    text-decoration: none;
    animation: sliderButton 1s ease-in-out; }

@media (min-width: 600px) {
  .slider__title {
    font-size: 2.5rem; }
  .slider__info {
    width: 70%;
    font-size: 2rem; }
  .slider__slide--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-tablet.jpg"); }
  .slider__slide--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-tablet.jpg"); } }

@media (min-width: 1200px) {
  .slider__wrapper {
    max-width: 120rem; }
  .slider__title {
    font-size: 3rem; }
  .slider__info {
    width: 70%;
    font-size: 2.5rem; }
  .slider__slide {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden; }
    .slider__slide--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/conditioner-desktop.jpg"); }
    .slider__slide--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ventilation-desktop.jpg"); }
    .slider__slide--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/calculate-desktop.jpg"); } }

@media (min-width: 1500px) {
  .slider__title {
    font-size: 5rem; }
  .slider__info {
    width: 70%;
    font-size: 3rem; } }

.companies {
  padding: 5rem 2rem; }
  .companies__title {
    position: relative;
    margin-bottom: 6rem !important;
    font-size: 1.6rem; }
  .companies__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .companies__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13rem; }

@media (min-width: 1200px) {
  .companies {
    padding-top: 5rem;
    max-width: 120rem;
    margin: 0 auto; }
    .companies__title {
      margin-bottom: 5rem; }
    .companies__item {
      margin-right: 2rem;
      opacity: 0.3; }
      .companies__item:hover {
        opacity: 1; } }

.btn {
  padding: 1rem;
  color: #f1f1f1;
  font-size: 1.5rem;
  border: 2px solid #ffd700; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.2);
    outline: none; }
  .btn:focus {
    outline: none; }

@media (min-width: 600px) {
  .btn {
    font-size: 1.6rem; } }

@media (min-width: 1500px) {
  .btn {
    font-size: 2rem; } }

.steps {
  padding: 5rem 2rem;
  max-width: 120rem;
  margin: 0 auto; }
  .steps__wrapper {
    margin-top: 4rem;
    text-align: center; }
  .steps__title {
    margin-bottom: 10rem !important; }
    .steps__title::before {
      background: #008080; }
  .steps__step {
    padding: 6rem 2rem 0 2rem; }
    .steps__step:not(:last-child) {
      padding-bottom: 6rem;
      margin-bottom: 3rem; }
    .steps__step--1 {
      background: url("../img/step-1.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--2 {
      background: url("../img/step-2.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--3 {
      background: url("../img/step-3.svg") no-repeat top center, url("../img/arrow-down.svg") no-repeat bottom center;
      background-size: 5rem; }
    .steps__step--4 {
      background: url("../img/step-4.svg") no-repeat top center;
      background-size: 5rem; }
  .steps__text {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem; }

@media (min-width: 600px) {
  .steps__wrapper {
    text-align: left; }
  .steps__step {
    padding: 3rem 0 3rem 10rem;
    background-position: left center;
    background-size: 7rem; } }

@media (min-width: 1200px) {
  .steps__wrapper {
    display: flex;
    text-align: center; }
  .steps__step {
    padding: 8rem 0 0 0;
    background-position: top center; }
  .steps__title {
    padding: 0 2rem;
    font-size: 2rem; } }

.title {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem; }
  .title::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffd700; }
  .title__num {
    position: absolute;
    color: rgba(255, 215, 0, 0.8);
    top: -3.5rem;
    right: 1.5rem;
    font-size: 9rem;
    z-index: -1; }

@media (min-width: 600px) {
  .title {
    font-size: 2.5rem; } }

@media (min-width: 1200px) {
  .title {
    margin-bottom: 6rem;
    font-size: 3rem; } }

@media (min-width: 1500px) {
  .title {
    font-size: 5rem; } }

.conditioner {
  background: linear-gradient(to right bottom, #ffd700, #ffb300);
  color: #000000;
  padding: 5rem 2rem 10rem 2rem;
  -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%);
  clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%); }
  .conditioner__title {
    margin-top: 4rem;
    margin-bottom: 6rem; }
    .conditioner__title::before {
      background: #f1f1f1; }
    .conditioner__title span {
      color: #f1f1f1; }
  .conditioner__service:not(:last-child) {
    margin-bottom: 5rem; }
  .conditioner__list {
    list-style: none; }
  .conditioner__item {
    position: relative;
    padding: 0 0 0 2rem;
    font-size: 1.4rem; }
    .conditioner__item:not(:last-child) {
      margin-bottom: 1rem; }
    .conditioner__item::before {
      position: absolute;
      content: '';
      width: 1rem;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: crimson; }
  .conditioner__image {
    width: 100%;
    height: 10rem;
    position: relative; }
  .conditioner__img {
    width: 100%;
    height: 100%; }
  .conditioner__subtitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center; }

.main {
  margin-top: -9rem; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 222; }
  .overlay::after {
    position: absolute;
    content: '';
    width: 4rem;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffd700;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 223;
    animation: spin 0.4s infinite linear; }

@media (min-width: 600px) {
  .overlay::after {
    width: 8rem;
    height: 8rem; } }
