$color-white: #fff;

$color-primary: #008080;
$color-secondary: #2F4F4F;
$color-black: #000000;
$color-black-second: #222222;
$color-black-third: #555;
$color-grey-border: #777;

$color-yellow: #ffd700;

$font-second: 'Roboto',
'sans-serif';

$font-primary: 'TTSmalls',
'sans-serif';