.btn {
  padding: 1rem;
  color: $color-white;
  font-size: 1.5rem;
  // border-radius: 2.5rem;
  border: 2px solid $color-yellow;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.2);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

@media (min-width: 600px) {
  .btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  .btn {
    font-size: 2rem;
  }
}

.call-us {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 3000;
  width: 6rem;
  height: 6rem;
  background: url('../img/call.svg') no-repeat, crimson;
  background-size: 50%;
  border-radius: 50%;
  border: none;
  background-position: center;
  animation: dance 0.2s linear infinite;
  animation-play-state: running;
  outline: none;
}

.up {
  position: absolute;
  bottom: 12rem;
  right: 1rem;
  z-index: 3000;
  width: 6rem;
  height: 6rem;
  background: url('../img/up.svg') no-repeat, $color-white;
  background-size: 50%;
  border-radius: 50%;
  border: none;
  background-position: center;
  outline: none;
}

@keyframes dance {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

.pause {
  animation-play-state: paused;
}