.btn {
  padding: 1rem;
  color: $color-white;
  font-size: 1.5rem;
  // border-radius: 2.5rem;
  border: 2px solid $color-yellow;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.2);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

@media (min-width: 600px) {
  .btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  .btn {
    font-size: 2rem;
  }
}