.form {
  color: $color-white;
  padding: 5rem 2rem 3rem 2rem;
  background: $color-primary;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);

  &__title {
    &::before {
      background: lightskyblue;
    }
  }

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    font-size: 1.3rem;
    transition: all 0.3s;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #55c57a;
    border-radius: 2px;
    transition: all 0.2s;
    background: $color-white;

    &:placeholder-shown ~ &__label {
      transform: translateY(-2.5rem);
      opacity: 0;
      visibility: hidden;
    }

    &:placeholder-shown {
      border-bottom: 2px solid transparent;
    }

    &:invalid {
      border-bottom: 2px solid #ff7730;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
    }
  }

  &__input:placeholder-shown ~ &__label {
    transform: translateY(-2.5rem);
    opacity: 0;
    visibility: hidden;
  }

  &__btn {
    border: none;
  }
}
