.steps {
  padding: 3rem 2rem;
  max-width: 120rem;
  margin: 0 auto;

  &__wrapper {
    margin-top: 4rem;
    text-align: center;
  }

  &__title {
    &::before {
      background: $color-primary;
    }
  }

  &__step {
    padding: 6rem 2rem 0 2rem;

    &:not(:last-child) {
      padding-bottom: 6rem;
      margin-bottom: 3rem;
    }

    &--1 {
      background: url('../img/step-1.svg') no-repeat top center,
        url('../img/arrow-down.svg') no-repeat bottom center;
      background-size: 5rem;
    }

    &--2 {
      background: url('../img/step-2.svg') no-repeat top center,
        url('../img/arrow-down.svg') no-repeat bottom center;
      background-size: 5rem;
    }

    &--3 {
      background: url('../img/step-3.svg') no-repeat top center,
        url('../img/arrow-down.svg') no-repeat bottom center;
      background-size: 5rem;
    }

    &--4 {
      background: url('../img/step-4.svg') no-repeat top center;
      background-size: 5rem;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .steps {
    &__wrapper {
      text-align: left;
    }

    &__step {
      padding: 3rem 0 3rem 10rem;
      background-position: left center;
      background-size: 7rem;
    }
  }
}

@media (min-width: 1200px) {
  .steps {
    &__wrapper {
      display: flex;
      text-align: center;
    }

    &__step {
      padding: 8rem 0 0 0;
      background-position: top center;
    }

    &__title {
      padding: 0 2rem;
      font-size: 2rem;
    }
  }
}
