.title {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-bottom: 6rem;
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  .title {
    font-size: 5rem;
  }
}
