.user-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  z-index: 3;
  font-family: 'PT Sans', 'serif';

  &__toggle {
    display: flex;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 3;
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  &__burger {

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 100%;
      height: 2px;
      background: $color-yellow;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
    }

    &::before {
      top: 2px;
    }

    &::after {
      bottom: 3px;
    }
  }

  &__logo {
    z-index: 3;
    font-size: 2rem;
    color: $color-yellow;
    border: 2px solid $color-white;
    padding: 0.5rem;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 2rem;
    text-align: left;
    background: #222222;
    border-bottom: 1px solid #777;

    &:first-child {
      padding: 4rem 2rem;
    }

    &--phone {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      background: #555;
      border-bottom: none;
    }
  }

  &__time {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;
    font-size: 1.4rem;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-white;
    text-decoration: none;

    &--phone {
      padding-left: 2.5rem;
      background: url('../img/phone.svg') no-repeat left center;
      background-size: 15%;

      &:first-child {
        margin-bottom: 1rem;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.user-nav--opened .user-nav__burger {
  background: transparent;

  &::before {
    top: 1.1rem;
    transform: rotate(-135deg);
  }

  &::after {
    bottom: 1.2rem;
    transform: rotate(135deg);
  }
}

@media (max-width: 768px) {
  .user-nav--closed .user-nav__wrapper {
    animation: slideInUp 0.5s ease forwards;
  }

  .user-nav--opened .user-nav__wrapper {
    animation: slideInDown 0.5s ease forwards;
  }

  .user-nav--nojs .user-nav__toggle {
    display: none;
  }

  .user-nav--nojs .user-nav__wrapper {
    display: block;
  }
}